.cancelbtn{
  fill: var(--red); 
  transition: .2s ease-in-out;
}

.add-btn{
    fill: var(--d-green);
    transition: .2s ease-in-out;
}

.min-btn{
  fill: var(--separate);
  transition: .2s ease-in-out;
}

.min-btn:active{
    fill: var(--d-separate);
}
.add-btn:active{
  fill: green;
}
.cancelbtn:hover{
    fill: red;
}

.btn_{
    width: 1.12rem;
    height: 1.12rem;
}

.btn{
    width: 1.2rem;
    height: 1.2rem;
}

